/* h1{
color: blueviolet;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
}

h2{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;

}
p {
    background-color: brown;
    color: chartreuse;
    padding:20px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
h3{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1,h2,h3,p{
    margin-bottom:50px ;
    border-bottom: 2px solid #9933cc;

}
.elementoComborde{
 border: 3px solid#9933cc;

}
    .fundoPreto{
        background-color: aqua;

    }
        .textoBranco{
            color: rgb(16, 17, 17);
        } */
         *{
            padding: 0px;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
         }
.card{
    width:300px;
	background-color:#666;
	border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}
.card img{
    width: 150px;
    height: 150px;
    border-radius:50px ;
}
 .name{
    color: black;
   font-size: 18px;
 }
 .job-title{
    color: black;
    font-size: larger; font-weight: 100;
 }
 .description{
   
    text-align: center;
    line-height:10px ;
   
 }
 body, html{
    height: 100vh;
 }
 body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
 
